.slider-header {
  + .container {
    box-shadow: 0 6px 14px 0px rgba(0, 0, 0, 0.1);
    padding: 25px !important;
  }
}

.solution-info {
  padding-bottom: 25px;
}

.slider-button {
  img {
    height: 130px;
    width: auto;
    max-width: 180px;
    align-self: center;
    padding-bottom: 10px;

    @include breakpoint(xs) {
      height: 50px;
      margin-top: 20px;
    }
  }

  span {
    text-align: center;
    line-height: 1.15;
    font-size: 15px;
    padding-top: 15px;
  }
}

.glide__slide {
  @include breakpoint(xs) {
  }
}

.slider-index {
  .slider-button {
    border-bottom: 3px solid rgba($grey, 0.3);
    padding-bottom: 10px;
    transition: 0.7s;

    &.active {
      border-bottom: 3px solid $blue;
    }

    &:hover {
      cursor: pointer;
      border-bottom: 3px solid rgba($blue, 0.7);
    }
  }
}

.glider-testimonials {
  .glide__slide {
    display: flex;
    justify-content: center;
  }
}

.glider-tech {
  .glide__slide {
    display: flex;
    justify-content: center;
  }
}

.glide__track {
  // height: 350px;

  @include breakpoint(md) {
    height: 100%;
  }
}

.slider-solutions {
  .glide__slide {
    padding-top: 20px;
    padding-bottom: 0;

    h4 {
      font-weight: bold;
      color: $grey;
      font-family: "Lato", sans-serif;
      padding-bottom: 12px;
      letter-spacing: 1px;
    }

    p {
      text-align: justify;
    }

    img {
      display: block;
      max-height: 300px;
      max-width: 75%;
      margin: 10px auto;
    }
  }
}

.solutions {
  .slider-button {
    img {
      @include breakpoint(xs) {
        margin-top: 0;
      }
    }
    &:hover .card {
      box-shadow: 0 4px 12px 0 rgba($grey, 0.4);
    }

    &.active .card {
      background-color: rgb(197, 253, 239);
    }
  }
}
