.breadcrumbs {
  margin-top: 65px;
  padding: 10px 0;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  div{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  a {
    color: white;
  }

  i {
    height: 100%;
    margin: 0 10px;
    // outline: 1px solid;
  }
}
