.quick-navigation {
  box-shadow: 0 10px 16px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 10px;
  .navigation-link {
    display: block;
    height: 50px;
    padding: 10px;
    &:hover {
      cursor: pointer;
      p {
        color: $blue;
      }
    }
    img {
      height: 100%;
      margin-right: 10px;
    }
  }
}
