.quick-navigation {
  box-shadow: 0 10px 16px 0px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 10px;
  .navigation-link {
    display: flex;
    height: 50px;
    padding: 10px;
    &:hover {
      cursor: pointer;
      p {
        color: $blue;
      }
    }
    img {
      width: 100%;
      height: auto;
      margin-right: 10px;
      align-self: center;
      justify-self: center;
    }
  }
  .navigation-logos {
    width: 40px;
    display: inline-flex;
  }
}
