.menu-dark {
  padding-top: 20px;
  padding-right: 30px;

  ul {
    float: right;
    display: flex;
    list-style-type: none;

    li {
      padding: 10px;
      text-decoration: none;

      a:link,
      a:visited {
        color: $grey;
        font-size: 20px;
        text-decoration: none;
      }

      a:hover {
        color: $dark-blue;
      }

      a:active {
        color: $light-blue;
      }
    }
  }
}

.font-20 {
  font-size: 20px;
}
.font-15 {
  font-size: 15px;
}

.howwedoit {
  margin-top: 100px;
  h2 {
    // margin: 20px;
    font-weight: bold;
  }

  .item-blue {
    color: $light-blue;
    a {
      color: $light-blue;
      text-decoration: none;
    }

    a:hover {
      color: $blue;
    }
  }

  .column {
    width: 70%;
    margin: 5px auto;
    padding: 0;

    a {
      text-decoration: none;
      color: $grey;
    }

    a:hover {
      color: $grey;
    }

    .card {
      margin: 0;
      padding: 10px 20px;
      height: 70px;
      display: block;

      p {
        padding-top: 10px;
        float: left;
      }

      img {
        max-width: 50px;
        padding: 0;
        float: right;
      }

      @include breakpoint(xs) {
        text-align: center;
        height: 230px;

        p {
          float: none;
        }
        img {
          float: none;
          max-width: 100px;
        }
      }
    }
  }
}

.technologies {
  img {
    max-width: 100px;
  }
}

.phase-logo {
  @include breakpoint(xs) {
    margin-bottom: 15px;
  }
}

.what-you-get {
  img {
    align-self: center;
    height: 100px;
  }
  .col-sm {
    padding: 15px 15px;

    // outline: 1px solid red;
    box-shadow: 0 10px 16px 0px rgba(0, 0, 0, 0.11);
  }

  h5 {
    padding-top: 10px;
    font-weight: 700;
  }

  p {
    font-size: 15px;
    color: $grey;
  }
}

.methods-we-use {
  img {
    align-self: center;
    height: 100px;
    margin: 20px;
  }
}

.glide-technologies {
  .glide__slides {
    margin-top: 30px;
    .glide__slide {
      img {
        max-height: 100px;
        width: auto;
        -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
        filter: grayscale(70%);
      }
      a:hover {
        li {
          img {
            -webkit-filter: none; /* Safari 6.0 - 9.0 */
            filter: none;
          }
        }
      }
    }
  }
}
