.product-description {
  min-height: 6em;
}

.products,
.project-manager,
.deducto-pharma,
.kanpeki {
  margin-top: 100px;
  h2 {
    padding: 20px;
    font-weight: bold;
  }

  h4 {
    padding: 20px 0;
    font-weight: bold;
  }
  .item-blue {
    color: $light-blue;
    a {
      color: $light-blue;
      text-decoration: none;
    }

    a:hover {
      color: $blue;
    }
  }
}

.products {
  .button {
    margin: 30px auto;
    justify-content: center;
    font-size: 18px;
  }
}


img {
  max-width: 80%;
}


.plans{
  .plan{
    text-align: center;
    @include breakpoint(xs){
      margin-top: 15px;
    }
  }
}


#lightgallery{
  .col-sm{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}

.plan-details{
  display: none;
}

.plan-modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  z-index: 9999;
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
  }
  .modal-content{
    position: relative;
    align-self: center;
    width: 60%;
    min-height: 60%;
    max-height: 100vh;
    overflow: auto;
    @include breakpoint(xs){
      width: 100%;
    }
    padding: 10px;
  }
  .close{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 101;
    font-size: 54px;
    // outline: 2px solid red;
  }
  &.show{
    display: flex;
  }
  .modal-plan-info{
    position: absolute;
    min-height: 60%;
    // outline: 1px solid red;
    overflow: visible;
    padding: 15px;
    @include breakpoint(md){
      padding: 40px;
    }
    line-height: 1.3;
    position: relative;
    // top: 1/0px;
  }

  li.disabled{
    list-style-type: circle;
  }

  .price{
    color: $blue;
  }

  .button-wrapper{
    z-index: 101;
    
  }
}