.goals {
  .goals-item {
    margin: 16px;

    img {
      max-width: 100px;
      height: auto;
      padding-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.traditions-item {
  img {
    max-width: 100px;
    height: auto;
    padding-bottom: 20px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.trustus {
  margin: 0 auto;
  .glide-trust-us {
    padding: 0 auto;
    @include breakpoint(xs) {
      margin-left: 30%;
    }
    @include breakpoint(md) {
      margin-left: 10%;
    }
    @include breakpoint(lg) {
      margin-left: 5%;
    }

    img {
      max-width: 150px;
      height: auto;
    }
  }
}

.whatwedo {
  margin-top: 120px;
  z-index: -2;
}
