.goals {
  .goals-item {
    margin: 16px;

    img {
      max-width: 100px;
      height: auto;
      padding-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.traditions-item {
  img {
    max-width: 100px;
    height: auto;
    padding-bottom: 20px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.trustus {
  margin: 0 auto;
  .glide-trust-us {
    .glide__slide {
      @include breakpoint(xs) {
        display: flex;
        justify-content: center;
      }
    }
    padding: 0 auto;
    @include breakpoint(xs) {
      margin-left: 0;
    }
    @include breakpoint(lg) {
      margin-left: 5%;
    }

    a {
      img {
        -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
        filter: grayscale(70%);
        max-width: 150px;
        height: auto;
        transition: 0.5s;
        &:hover{
          filter: 0;
        }
      }
    }
    a:hover {
      img {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;
      }
    }
  }
}

.whatwedo {
  margin-top: 120px;
  z-index: -2;
}
