<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="../../images/4beeslogo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../../images//4beeslogo.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Asap|Montserrat:400,700&display=swap" rel="stylesheet">

    <title>4bees | What We Do</title>
</head>

<body>
    <header>

        <a href="/"><img class="logo" src="../../images/4beeslogo.png" alt="4bees"></a>

        <!--Navbar-->
        <nav class="navbar">

            <input id="burger" type="checkbox" />

            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <div class="nav">
                <a href="/"><img class="logo logo-mobile" src="../../images/4beeslogo.png" alt="4bees"></a>

                <ul>
                    <li class="nav-first"><a href="/what-we-do">What We Do</a></li>
                    <li><a href="/development/our-solutions/business">Our Solutions</a></li>
                    <li><a href="/development/our-products">Our Products</a></li>
                    <li><a href="/how-we-do-it">How We Do It</a> </li>
                    <li><a href="/joinus">Join Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu-dark">
            <ul>
                <li><a href="/what-we-do">What We Do</a></li>
                <li><a href="">Development</a>
                    <ul class="drop-down">
                        <li><a href="/development/our-solutions/business">Our Solutions</a></li>
                        <li><a href="/development/our-products">Our Products</a></li>
                    </ul>
                </li>
                <li><a href="/how-we-do-it">How We Do It</a> </li>
                <li><a href="/joinus">Join Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="button text-white text-center" href="">
                        GET ESTIMATION
                    </a></li>
            </ul>
        </div>

    </header>
    <div class="breadcrumbs">
        <div class="container">
            <a href="/">Home</a><i class="fa fa-angle-right"></i>What We Do
        </div>
    </div>
    <div class="container whatwedo">

        <div class="reveal">
            <h2 class="text-center mt-5">What We Do</h2>
        </div>

        <p class="text-center pt-50 reveal">We are driven by your will to succeed. Our goal is to accomplish your
            goals.</p>

        <div class="row goals reveal mt-4">

            <div class="col-md-2 goals-item">
                <img src="../../images/honest.png" alt="">
                <p class="text-center">HONEST</p>
            </div>

            <div class="col-md-2 goals-item">
                <img src="../../images/efficency.png" alt="">
                <p class="text-center">EFFICENCY</p>
            </div>

            <div class="col-md-2 goals-item">
                <img src="../../images/innovation.png" alt="">
                <p class="text-center">INNOVATION</p>
            </div>

            <div class="col-md-2 goals-item">
                <img src="../../images/passion.png" alt="">
                <p class="text-center">PASSION</p>
            </div>

            <div class="col-md-2 goals-item">
                <img src="../../images/fun.png" alt="">
                <p class="text-center">FUN</p>
            </div>

        </div>

        <h2 class="text-center reveal mt-5">Our Traditions</h2>
        <p class="text-justify text-center reveal">Building a good product is satisfying, but building a good
            partnership
            brings even more satisfaction. We do both and never cheat on it because we take
            business partnership on a new level of communication. </p>

        <div class="row reveal mt-4">
            <div class="col-md-4 traditions-item">
                <img src="/src/images/launch.png" alt="">
                <h4 class="text-center">OUR MISSION</h4>
                <p class="text-center text-justify">Our mission is to
                    empower every person
                    and every organization
                    on the planet to
                    achieve more.</p>
            </div>
            <div class="col-md-4 traditions-item">
                <img src="/src/images/vision.png" alt="">
                <h4 class="text-center">OUR VISION</h4>
                <p class="text-center text-justify">Our mission is to
                    empower every person
                    and every organization
                    on the planet to
                    achieve more.</p>
            </div>
            <div class="col-md-4 traditions-item">
                <img src="/src/images/values.png" alt="">
                <h4 class="text-center">OUR VALUES</h4>
                <p class="text-center text-justify">Our mission is to
                    empower every person
                    and every organization
                    on the planet to
                    achieve more.</p>
            </div>
        </div>

        <div class="trustus">
            <h2 class="text-sector text-center reveal">They Trust Us</h2>
            <div class="glide glide-trust-us reveal mt-4 pt-5">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <a href="">
                                <img src="../../images/norapharm.png" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="">
                                <img src="../../images/noratechs.png" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="http://sillage.primehome.rs/">
                                <img src="../../images/sillage.png" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="http://primehome.rs/">
                                <img src="../../images/primehome.png" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="https://www.advokatskakancelarija.com/">
                                <img src="/src/images/isailovic.png" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="">
                                <img src="../../images/front-consulting.jpg" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="https://www.milsped.com/">
                                <img src="../../images/milsped.png" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="http://www.makeable.com/">
                                <img src="../../images/makeable.png" alt="">
                            </a>
                        </li>
                        <li class="glide__slide">
                            <a href="">
                                <img src="../../images/tcl.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a class="text-white" href="/what-we-do">About</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/joinus">Join Us</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/contact">Contact</a></li>
                    </ul>

                    <h3>FOR GROWTH</h3>
                    <h3>FOR BUSINESS EXCELLENCE</h3>

                    <a href="https://www.linkedin.com/company/4bees/" target="_blank">
                        <i class="social-in fa fa-linkedin text-white"></i></a>
                </div>

                <div class="col col-md-4">
                    <a class="get-estimation text-center" href="">
                        GET ESTIMATION
                    </a>
                    <div class="phone-numbers">
                        <div class="d-flex mt-4">

                            <img class="phone-icon" src="../../images/mobile-footer.png" alt="Mobile">
                            <div>

                                <div class="d-flex foot-item">
                                    <img class="country-flag" src="../../images/rs.png" alt="Serbia">
                                    <a class="text-white" href="tel:+381607000076">+381607000076</a>
                                </div>

                                <div class="d-flex mt-2 foot-item">
                                    <img class="country-flag" src="../../images/si.png" alt="Slovenia">
                                    <a class="text-white" href="tel:+38640644669">+38640644669</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex mt-4 d-flex foot-item">
                        <img src="../../images/mail.png" class="country-flag" alt="Mail">
                        <a class="text-white pl-2" href="mailto:office@4bees.io">office@4bees.io</a></p>
                    </div>

                    <p class="mt-4 text-white-50">&copy 2019 All rights reserved</p>

                </div>
            </div>
        </div>

    </footer>


</body>

</html>