<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="/images/4beeslogo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="/images//4beeslogo.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Asap|Montserrat:400,700&display=swap" rel="stylesheet">
    <meta name="description" content="4BEES is a software development agency based in Belgrade, Serbia.">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="public/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="alternate" href="http://4bees.io/sr/" hreflang="sr">
    <meta property="og:type" content="website">
    <meta property="og:url" content="4bees.io">
    <meta property="og:title" content="4BEES | Software Development Agency">
    <meta property="og:description" content="4BEES is a Software Development Agency based in Belgrade, Serbia.">
    <meta property="og:site_name" content="4BEES">
    <meta property="og:locale" content="en_US">
    <title>4bees | Contact</title>
</head>

<body>
    <header>

        <a href="/"><img class="logo" src="/images/4beeslogo.png" alt="4bees"></a>

        <!--Navbar-->
        <nav class="navbar">

            <input id="burger" type="checkbox" />

            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <div class="nav">
                <a href="/"><img class="logo logo-mobile" src="/images/4beeslogo.png" alt="4bees"></a>

                <ul>
                    <li class="nav-first"><a href="/what-we-do">What We Do</a></li>
                    <li><a href="/development/our-solutions/business">Our Solutions</a></li>
                    <li><a href="/development/our-products">Our Products</a></li>
                    <li><a href="/how-we-do-it">How We Do It</a> </li>
                    <li><a href="/joinus">Join Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu-dark navbar-dropdown">
            <ul>
                <li><a href="/what-we-do">What We Do</a></li>
                <li><a class="dropdown-development" href="javascript:void(0)">Development</a>
                    <ul class="dropdown-main">
                        <li class="has-dropdown-solutions"><a href="/development/our-solutions/business">Our
                                Solutions</a>
                            <ul class="dropdown-solutions">
                                <div class="row">
                                    <a href="/development/our-solutions/business"
                                        class="col-4 d-flex justify-center align-items-center flex-column">
                                        <img src="/images/business.png" alt="Business">
                                        <span class="d-block">Business consulting and process
                                            optimization </span>
                                    </a>
                                    <a href="/development/our-solutions/mobile" class="col-4 d-flex justify-center flex-column">
                                        <img src="/images/mobile.png" alt="Mobile">
                                        <span class="d-block">Mobile application
                                            development</span>
                                    </a>
                                    <a href="/development/our-solutions/applications" class="col-4 d-flex justify-center flex-column">
                                        <img src="/images/applications.png" alt="Desktop">
                                        <span class="d-block">Web and desktop applications</span>
                                    </a>
                                    <a href="/development/our-solutions/outsourcing"
                                        class="col-4 d-flex justify-center align-items-center flex-column">
                                        <img src="/images/outsourcing.png" alt="Outsourcing">
                                        <span class="d-block">Outsourcing</span>
                                    </a>
                                    <a href="/development/our-solutions/design" class="col-4 d-flex justify-center flex-column">
                                        <img src="/images/design.png" alt="Design">
                                        <span class="d-block">UI, UX and web design</span>
                                    </a>
                                    <a href="/development/our-solutions/digital-marketing" class="col-4 d-flex justify-center flex-column">
                                        <img class="img-dm" src="/images/DM.png" alt="Digital marketing">
                                        <span class="d-block">Digital marketing</span>
                                    </a>
                                </div>
                            </ul>
                        </li>
                        <li class="has-dropdown-products"><a href="/development/our-products">Our Products</a>
                            <ul class="dropdown-products">
                                <div class="row">
                                    <a href="/development/our-products/kanpeki" class="col-4 d-flex justify-center flex-column">
                                        <img src="/images/kanpeki.png" alt="Kanpeki">
                                        <span class="d-block">Kanpeki</span>
                                    </a>
                                    <a href="/development/our-products/deducto-pharma" class="col-4 d-flex justify-center flex-column">
                                        <img src="/images/deductopharma.png" alt="Deducto Pharma">
                                        <span class="d-block">Deducto</span>
                                    </a>
                                    <a href="/development/our-products/project-manager" class="col-4 d-flex justify-center flex-column">
                                        <img src="/images/adria.png" alt="Adria">
                                        <span class="d-block">Adria</span>
                                    </a>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/how-we-do-it">How We Do It</a> </li>
                <li><a href="/joinus">Join Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="button text-white text-center" href="/get-estimation">
                        GET ESTIMATION
                    </a></li>
            </ul>
        </div>

    </header>
    <div class="breadcrumbs">
        <div class="container">
            <a href="/">Home</a> <i class="fa fa-angle-right"></i>

            Contact
        </div>
    </div>
    <div class="container reveal contact">
        <h2 class="text-new-sector text-center">Contact Us</h2>

        <p class="text-center font-20">We appreciate your impact.</p>
        <p class="text-center font-15">Need more information? Just let us know.</p>

        <div class="row">
            <div class="col-md-6 contact-white">
                <form class="form-contact text-center">
                    <div><input class="text" id="name" type="text" placeholder="Your name"></div>
                    <div><input class="text" id="email" type="email" placeholder="Your email adress"></div>
                    <div><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                    </div>
                    <button type="submit" class="button text-center">
                        <span> SEND </span> <i class="fa fa-paper-plane"></i>
                    </button>
                </form>

            </div>
            <div class="col-md-6 contact-blue">
                <div>
                    <p><span>
                            Business Hours</span><br>from 9 am to 5 pm CAST</p>
                </div>

                <div>
                    <p><span>Main office</span><br>Kroštatska 5, Belgrade, Serbia<br>11 000</p>
                </div>

                <div>
                    <p><span>Sales office</span><br>Dolenjska Cesta 324a, Ljubljana, Slovenia<br>1 000</p>
                </div>
                <div class="phone-numbers">
                    <div class="d-flex mt-4">

                        <img class="mobile-icon" src="/images/mobile-footer.png" alt="Mobile">
                        <div>

                            <div class="d-flex foot-item">
                                <img class="country-flag" src="/images/rs.png" alt="Serbia">
                                <a class="text-white" href="tel:+381607000076">+381607000076</a>
                            </div>

                            <div class="d-flex mt-2 foot-item">
                                <img class="country-flag" src="/images/si.png" alt="Slovenia">
                                <a class="text-white" href="tel:+38640644669">+38640644669</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex mail">
                    <img src="/images/mail.png" alt="Mail">
                    <p class="mail-icon"><a class="text-white" href="mailto: office@4bees.io">office@4bees.io</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11328.624252006124!2d20.4551428!3d44.7776236!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x761b347c6864b7ca!2s4+bees+d.o.o.!5e0!3m2!1sen!2srs!4v1561746493583!5m2!1sen!2srs"
            frameborder="0" allowfullscreen></iframe>
    </div>

    <footer class="mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a class="text-white" href="/what-we-do">About</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/joinus">Join Us</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/contact">Contact</a></li>
                    </ul>

                    <h3>FOR GROWTH</h3>
                    <h3>FOR BUSINESS EXCELLENCE</h3>

                    <a href="https://www.linkedin.com/company/4bees/" target="_blank">
                        <i class="social-in fa fa-linkedin text-white"></i></a>
                    <a class="social-icons" href="https://www.linkedin.com/company/4bees/" target="_blank">
                        <img class="upwork" src="/images/upwork.png" alt="Upwork"></a>
                    <a class="social-icons" href="https://www.behance.net/4bees" target="_blank">
                        <img src="/images/behance.png" alt="Behance"></a>
                </div>

                <div class="col col-md-4">
                    <a class="get-estimation text-center" href="/get-estimation">
                        GET ESTIMATION
                    </a>
                    <div class="phone-numbers">
                        <div class="d-flex mt-4">

                            <img class="phone-icon" src="/images/mobile-footer.png" alt="Mobile">
                            <div>

                                <div class="d-flex foot-item">
                                    <img class="country-flag" src="/images/rs.png" alt="Serbia">
                                    <a class="text-white" href="tel:+381607000076">+381607000076</a>
                                </div>

                                <div class="d-flex mt-2 foot-item">
                                    <img class="country-flag" src="/images/si.png" alt="Slovenia">
                                    <a class="text-white" href="tel:+38640644669">+38640644669</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex mt-4 d-flex foot-item">
                        <img src="/images/mail.png" class="country-flag" alt="Mail">
                        <a class="text-white pl-2" href="mailto:office@4bees.io">office@4bees.io</a></p>
                    </div>

                    <p class="mt-4 text-white-50">&copy 2019 All rights reserved</p>

                </div>
            </div>
        </div>

    </footer>
</body>

</html>