<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="../../images/4beeslogo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../../images/4beeslogo.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Asap|Montserrat:400,700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <title>4bees | Get Estimation</title>
</head>

<body>
    <header>

        <a href="/"><img class="logo" src="../../images/4beeslogo.png" alt="4bees"></a>
        <!--Navbar-->
        <nav class="navbar">

            <input id="burger" type="checkbox" />

            <label for="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <div class="nav">
                <a href="/"><img class="logo logo-mobile" src="../../images/4beeslogo.png" alt="4bees"></a>

                <ul>
                    <li class="nav-first"><a href="/what-we-do">What We Do</a></li>
                    <li><a href="/development/our-solutions/business">Our Solutions</a></li>
                    <li><a href="/development/our-products">Our Products</a></li>
                    <li><a href="/how-we-do-it">How We Do It</a> </li>
                    <li><a href="/joinus">Join Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="menu-dark">
            <ul>
                <li><a href="/what-we-do">What We Do</a></li>
                <li><a href="">Development</a>
                    <ul class="drop-down">
                        <li><a href="/development/our-solutions/business">Our Solutions</a></li>
                        <li><a href="/development/our-products">Our Products</a></li>
                    </ul>
                </li>
                <li><a href="/how-we-do-it">How We Do It</a> </li>
                <li><a href="/joinus">Join Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a class="button text-white text-center" href="">
                        GET ESTIMATION
                    </a></li>
            </ul>
        </div>

    </header>
    <div class="breadcrumbs">
        <div class="container">
            <a href="/">Home</a> <i class="fa fa-angle-right"></i>

            Get Estimation
        </div>
    </div>
    <div class="container reveal get-estimation text-center my-4 py-4 ">
        <h2>Project Estimation</h2>
        <p class="text-secondary">Let's make something beautiful.</p>

        <h4>What type of project do you need?</h4>

        <div class="part-1 row mt-4">
            <div class="col-sm col-md-2 mt-3 mt-md-0 ">

                <input id='estimation-business' name='Business Consulting' type='checkbox'>
                <label for='estimation-business'>
                    <div class="checkbox">
                        <div class='check-icon'>
                            <i class="fa fa-check"></i>
                        </div>
                        <img alt='business consulting logo' src='/images/business.png'>
                        <h5>
                            Business consulting
                        </h5>
                    </div>
                </label>
            </div>
            <div class="col-sm col-md-2 mt-3 mt-md-0">

                <input id='estimation-mobile' name='Mobile App Development' type='checkbox'>
                <label for='estimation-mobile'>
                    <div class="checkbox">
                        <div class='check-icon'>
                            <i class="fa fa-check"></i>
                        </div>
                        <img alt='Mobile application development logo' src='/images/mobile.png'>
                        <h5>
                            Mobile Development
                        </h5>
                    </div>
                </label>
            </div>
            <div class="col-sm col-md-2 mt-3 mt-md-0">

                <input id='estimation-web' name='Web/Desktop Applications' type='checkbox'>
                <label for='estimation-web'>
                    <div class="checkbox">
                        <div class='check-icon'>
                            <i class="fa fa-check"></i>
                        </div>
                        <img alt='' src='/images/applications.png'>
                        <h5>
                            Web/Desktop Applications
                        </h5>
                    </div>
                </label>
            </div>
            <div class="col-sm col-md-2 mt-3 mt-md-0">

                <input id='estimation-outsourcing' name='Outsourcing' type='checkbox'>
                <label for='estimation-outsourcing'>
                    <div class="checkbox">
                        <div class='check-icon'>
                            <i class="fa fa-check"></i>
                        </div>
                        <img alt='Outsourcing logo' src='/images/outsourcing.png'>
                        <h5>
                            Outsourcing <span class="invisible">outsourcing</span>
                        </h5>
                    </div>
                </label>
            </div>

            <div class="col-sm col-md-2 mt-3 mt-md-0 ">

                <input id='estimation-design' name='Design' type='checkbox'>
                <label for='estimation-design'>
                    <div class="checkbox">
                        <div class='check-icon'>
                            <i class="fa fa-check"></i>
                        </div>
                        <img alt='ui ux web design logo' src='/images/design.png'>
                        <h5>
                            UI/UX/Web Design
                        </h5>
                    </div>
                </label>
            </div>

            <div class="col-sm col-md-2 mt-3 mt-md-0 ">

                <input id='estimation-marketing' name='Marketing' type='checkbox'>
                <label for='estimation-marketing'>
                    <div class="checkbox">
                        <div class='check-icon'>
                            <i class="fa fa-check"></i>
                        </div>
                        <img alt='digital marketing logo' src='/images/DM.png'>
                        <h5>
                            Digital Marketing
                        </h5>
                    </div>
                </label>
            </div>
        </div>

        <button class="btn button mt-4" id="estimation-next">NEXT <i class="mx-1 fa fa-angle-right"></i></button>
    </div>

    <footer class='mt-0'>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a class="text-white" href="/what-we-do">About</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/joinus">Join Us</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/contact">Contact</a></li>
                    </ul>

                    <h3>FOR GROWTH</h3>
                    <h3>FOR BUSINESS EXCELLENCE</h3>

                    <a href="https://www.linkedin.com/company/4bees/" target="_blank">
                        <i class="social-in fa fa-linkedin text-white"></i></a>
                </div>

                <div class="col col-md-4">
                    <a class="get-estimation text-center" href="">
                        GET ESTIMATION
                    </a>
                    <div class="phone-numbers">
                        <div class="d-flex mt-4">

                            <img class="phone-icon" src="../../images/mobile-footer.png" alt="Mobile">
                            <div>

                                <div class="d-flex foot-item">
                                    <img class="country-flag" src="../../images/rs.png" alt="Serbia">
                                    <a class="text-white" href="tel:+381607000076">+381607000076</a>
                                </div>

                                <div class="d-flex mt-2 foot-item">
                                    <img class="country-flag" src="../../images/si.png" alt="Slovenia">
                                    <a class="text-white" href="tel:+38640644669">+38640644669</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex mt-4 d-flex foot-item">
                        <img src="../../images/mail.png" class="mail" alt="Mail">
                        <a class="text-white pl-2" href="mailto:office@4bees.io">office@4bees.io</a></p>
                    </div>

                    <p class="mt-4 text-white-50">&copy 2019 All rights reserved</p>

                </div>
            </div>
        </div>

    </footer>
</body>

</html>